header.header 
    .button-std.medium 
        +svg('tel-tube')
        span Обратный звонок
    a.header__telephone(href="tel:(068) 297 70 77 ") (068) 297 70 77
    +img('logo.svg').main-logo
    .header__right-group
        .search-input
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.48839 11.9449C7.858 11.95 9.17906 11.4388 10.1874 10.5135L14.6136 14.9344C14.6558 14.9762 14.7127 14.9997 14.7722 15C14.802 15.0002 14.8315 14.9945 14.8591 14.9832C14.8867 14.972 14.9118 14.9554 14.933 14.9344C14.9542 14.9134 14.9711 14.8884 14.9826 14.8608C14.9941 14.8333 15 14.8037 15 14.7739C15 14.744 14.9941 14.7145 14.9826 14.6869C14.9711 14.6593 14.9542 14.6343 14.933 14.6133L10.5023 10.1924C11.3584 9.27018 11.8704 8.0818 11.952 6.82709C12.0336 5.57238 11.6799 4.32789 10.9504 3.3029C10.221 2.27791 9.16019 1.53495 7.9465 1.19898C6.73281 0.863011 5.44025 0.954522 4.2862 1.45812C3.13215 1.96171 2.187 2.84668 1.60972 3.96418C1.03244 5.08168 0.858238 6.36354 1.1164 7.5942C1.37457 8.82485 2.04936 9.92921 3.02729 10.7216C4.00523 11.5139 5.22664 11.9459 6.48612 11.9449H6.48839ZM2.92752 2.89953C3.63204 2.19611 4.52968 1.71705 5.50693 1.52295C6.48418 1.32884 7.49714 1.42839 8.41772 1.80902C9.33829 2.18965 10.1251 2.83427 10.6787 3.66134C11.2323 4.48841 11.5278 5.46078 11.5278 6.45549C11.5278 7.45021 11.2323 8.42259 10.6787 9.24966C10.1251 10.0767 9.33829 10.7213 8.41772 11.102C7.49714 11.4826 6.48418 11.5821 5.50693 11.388C4.52968 11.1939 3.63204 10.7149 2.92752 10.0115C2.45777 9.547 2.08487 8.9942 1.83039 8.38501C1.5759 7.77582 1.44487 7.12232 1.44487 6.46228C1.44487 5.80224 1.5759 5.14875 1.83039 4.53956C2.08487 3.93037 2.45777 3.37757 2.92752 2.9131V2.89953Z" fill="#222222" stroke="#222222" stroke-width="0.3"/>
            </svg>
            input(type="text", placeholder="Поиск" name="")
            button.search-input__button
                +svg('arrow')
        a(target='_blank' href="https://instagram.com").social-link
            +svg('instagram')
        a(target='_blank' href="https://facebook.com").social-link
            +svg('facebook')
