header
    .header-top
        +svg('tel-tube').callback-form-mobile
        .button-std.medium.common-form-call-js
            +svg('tel-tube')
            span Обратный звонок
        a.header-top__telephone(href="tel:(068) 297 70 77 ") (068) 297 70 77
        +img('logo.svg').main-logo
        .header-top__right-group
            .search-input
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.48839 11.9449C7.858 11.95 9.17906 11.4388 10.1874 10.5135L14.6136 14.9344C14.6558 14.9762 14.7127 14.9997 14.7722 15C14.802 15.0002 14.8315 14.9945 14.8591 14.9832C14.8867 14.972 14.9118 14.9554 14.933 14.9344C14.9542 14.9134 14.9711 14.8884 14.9826 14.8608C14.9941 14.8333 15 14.8037 15 14.7739C15 14.744 14.9941 14.7145 14.9826 14.6869C14.9711 14.6593 14.9542 14.6343 14.933 14.6133L10.5023 10.1924C11.3584 9.27018 11.8704 8.0818 11.952 6.82709C12.0336 5.57238 11.6799 4.32789 10.9504 3.3029C10.221 2.27791 9.16019 1.53495 7.9465 1.19898C6.73281 0.863011 5.44025 0.954522 4.2862 1.45812C3.13215 1.96171 2.187 2.84668 1.60972 3.96418C1.03244 5.08168 0.858238 6.36354 1.1164 7.5942C1.37457 8.82485 2.04936 9.92921 3.02729 10.7216C4.00523 11.5139 5.22664 11.9459 6.48612 11.9449H6.48839ZM2.92752 2.89953C3.63204 2.19611 4.52968 1.71705 5.50693 1.52295C6.48418 1.32884 7.49714 1.42839 8.41772 1.80902C9.33829 2.18965 10.1251 2.83427 10.6787 3.66134C11.2323 4.48841 11.5278 5.46078 11.5278 6.45549C11.5278 7.45021 11.2323 8.42259 10.6787 9.24966C10.1251 10.0767 9.33829 10.7213 8.41772 11.102C7.49714 11.4826 6.48418 11.5821 5.50693 11.388C4.52968 11.1939 3.63204 10.7149 2.92752 10.0115C2.45777 9.547 2.08487 8.9942 1.83039 8.38501C1.5759 7.77582 1.44487 7.12232 1.44487 6.46228C1.44487 5.80224 1.5759 5.14875 1.83039 4.53956C2.08487 3.93037 2.45777 3.37757 2.92752 2.9131V2.89953Z" fill="#222222" stroke="#222222" stroke-width="0.3"/>
                </svg>
                input(type="text", placeholder="Поиск" name="")
                button.search-input__button
                    +svg('arrow')
            a(target='_blank' href="https://instagram.com").social-link
                <svg class="icon--instagram" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1" y="1" width="15" height="15" rx="4"  stroke="#222222" stroke-width="0.8"/>
                    <circle cx="8.49993" cy="8.50005" r="3.21429" fill="white" stroke="#222222" stroke-width="0.8"/>
                    <circle cx="12.2501" cy="3.67854" r="0.535714" fill="white" stroke="#222222" stroke-width="0.8"/>
                    <rect class="icon-hover" x="1" y="1" width="15" height="15" rx="4" fill="url(#insta_linear)" stroke="#222222" stroke-width="0.8"/>
                    <circle cx="8.49993" cy="8.50005" r="3.21429" fill="white" stroke="#222222" stroke-width="0.8"/>
                    <circle cx="12.2501" cy="3.67854" r="0.535714" fill="white" stroke="#222222" stroke-width="0.8"/>
                    <defs>
                    <linearGradient id="insta_linear" x1="16" y1="0.999992" x2="0.424919" y2="1.62299" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FF8298"/>
                    <stop offset="1" stop-color="#FFDEAC"/>
                    </linearGradient>
                    </defs>
                    </svg>
                //- +svg('instagram')
            a(target='_blank' href="https://facebook.com").social-link
                <svg class="icon--facebook" width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.74438 3.49062H9.25069V1.10563C8.99081 1.07312 8.09706 1 7.05619 1C4.88438 1 3.39663 2.24187 3.39663 4.52437V6.625H1V9.29125H3.39663V16H6.335V9.29187H8.63469L8.99975 6.62563H6.33431V4.78875C6.335 4.01812 6.56325 3.49062 7.74438 3.49062Z"  stroke="black" stroke-width="0.8"/>
                    <path class="icon-hover" d="M7.74438 3.49062H9.25069V1.10563C8.99081 1.07312 8.09706 1 7.05619 1C4.88438 1 3.39663 2.24187 3.39663 4.52437V6.625H1V9.29125H3.39663V16H6.335V9.29187H8.63469L8.99975 6.62563H6.33431V4.78875C6.335 4.01812 6.56325 3.49062 7.74438 3.49062Z" fill="url(#fb_linear)" stroke="black" stroke-width="0.8"/>
                    <defs>
                    <linearGradient id="fb_linear" x1="9.25069" y1="0.999992" x2="0.674124" y2="1.18869" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FF8298"/>
                    <stop offset="1" stop-color="#FFDEAC"/>
                    </linearGradient>
                    </defs>
                    </svg>
                //- +svg('facebook')
    .header-bottom
        .mobile-tablet-menu-button.mobile-tablet-menu-button-js(data-state-open="Меню" data-state-close="Закрити")
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g class="open-show">
                    <line x1="30" y1="10.5" x2="4.37114e-08" y2="10.5" stroke="#222222"/>
                    <line x1="30" y1="20.5" x2="4.37114e-08" y2="20.5" stroke="#222222"/>
                </g>
                <g class="close-show" style="opacity:0">
                    <line style="transform-origin:center" x1="29.6491" y1="29.3562" x2="0.435722" y2="0.572686" stroke="#222222"/>
                    <line style="transform-origin:center" x1="0.422679" y1="29.4136" x2="29.6492" y2="0.643613" stroke="#222222"/>
                </g>
                </svg>
            span Меню
        .mobile-tablet-menu
        ul.header-bottom__menu
            li 
                a(href="about.html"  data-hover="О компании") 
                    span О компании
            li 
                a(href="news.html"  data-hover="Новости") 
                    span Новости
            li.dropdown 
                .dropdown-title 
                    span Сервис
                .dropdown-content
                    a(href="return-conditions.html" data-hover="0")
                        span Обмен и возврат
                    a(href="payment-and-delivery.html" data-hover="0")
                        span Оплата и доставка
                    a(href="faq.html" data-hover="0")
                        span Вопрос ответ
                    a(href="tailor-services.html" data-hover="0")
                        span Услуги портного в магазинах
                    a(href="personal-professional-stylist.html" data-hover="0")
                        span Личный проффесиональный стилист
            li 
                a(href="shops.html" data-hover="Магазины") 
                    span Магазины
            li 
                a(href="contacts.html" data-hover="Контакты") 
                    span Контакты
        .header-bottom__center-group
            a.button-std.no-bg.medium(href="catalogue.html").catalogue-links
                <svg class="will-change-color" width="11" height="14" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.7678 12.8039C11.1293 11.9255 10.1715 11.5137 8.80739 11.5137C8.37203 11.5137 7.79156 11.1843 7.79156 10.8275V9.64706C9.44591 9.31765 10.6649 8.30196 11.1583 7.39608C11.1873 7.34118 11.1873 7.28627 11.1873 7.23137C11.1873 7.17647 11.1583 7.12157 11.1293 7.09412L9.62005 5.3098C9.62005 4.54118 9.62005 3.52549 9.24274 2.64706C8.77836 1.54902 7.87863 1 6.54354 1C5.20844 1 4.30871 1.54902 3.84433 2.61961C3.49604 3.49804 3.46702 4.51373 3.46702 5.28235L1.95778 7.06667C1.92876 7.09412 1.89974 7.14902 1.89974 7.20392C1.89974 7.25882 1.89974 7.31373 1.92876 7.36863C2.42216 8.27451 3.55409 9.23529 5.1504 9.59216V10.8C5.1504 11.1569 4.62797 11.4863 4.22164 11.4863C2.8285 11.4863 1.89974 11.898 1.23219 12.749C1.23219 12.749 1.05805 12.9686 1 13.298C2.1029 14.0392 3.35092 14.5608 4.68602 14.8353C6.51451 15.1647 8.40106 15 10.1135 14.3412C10.781 14.0667 11.4195 13.7373 12 13.3255C11.9129 13.0235 11.7678 12.8039 11.7678 12.8039ZM2.53826 7.28627L3.96042 5.55686C3.98945 5.50196 4.01847 5.44706 3.98945 5.39216V5.3098C3.98945 4.59608 4.01847 3.60784 4.33773 2.83922C4.71504 1.96078 5.44063 1.54902 6.51451 1.54902C7.58839 1.54902 8.28496 1.96078 8.63325 2.83922C8.95251 3.60784 8.92348 4.59608 8.92348 5.3098V5.39216C8.92348 5.44706 8.98153 5.52941 9.01055 5.55686L10.4908 7.28627C9.96834 8.1098 8.54617 9.23529 6.48549 9.23529C4.48285 9.20784 3.06069 8.1098 2.53826 7.28627ZM6.48549 14.451C4.77309 14.451 3.11873 13.9569 1.69657 13.0784H1.72559C2.27704 12.3647 3.03166 12.0627 4.22164 12.0627C4.91821 12.0627 5.73087 11.5137 5.73087 10.8275V9.72941C5.99208 9.75686 6.2533 9.78431 6.51451 9.78431C6.7467 9.78431 6.94987 9.75686 7.18206 9.75686V10.8549C7.18206 11.5412 8.02375 12.0902 8.77837 12.0902C10.2876 12.0902 10.9261 12.6667 11.2744 13.1608C9.85224 13.9843 8.19789 14.451 6.48549 14.451Z" fill="url(#paint0_linear)" stroke="url(#paint1_linear)" stroke-width="0.3"/>
                    <defs>
                    <linearGradient id="paint0_linear" x1="12" y1="0.999992" x2="0.571288" y2="1.35918" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FAA6A6"/>
                    <stop offset="1" stop-color="#F8CEBC"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear" x1="12" y1="0.999992" x2="0.571288" y2="1.35918" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FAA6A6"/>
                    <stop offset="1" stop-color="#F8CEBC"/>
                    </linearGradient>
                    </defs>
                    </svg>
                //- +svg('header-woman')
                span Для женщин
            a.button-std.no-bg.medium(href="catalogue.html").catalogue-links
                <svg class="will-change-color" width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 13.2913C2.09711 14.063 3.33858 14.5866 4.69554 14.8346C6.51444 15.1654 8.39108 15 10.0945 14.3386C10.7585 14.063 11.3937 13.7323 12 13.3189C11.8556 13.0157 11.6824 12.9055 11.6824 12.9055L11.6247 12.8504C11.1339 12.5197 10.6142 12.5197 9.92126 12.5197H9.02625L8.07349 11.2244C8.04462 11.1693 7.98688 11.1417 7.92913 11.1142C8.50656 10.7008 8.9685 10.1772 9.28609 9.59843C9.63255 8.99213 9.80577 8.33071 9.86352 7.66929C10.7874 6.73228 10.1522 4.33465 10.0079 3.78346C10.1234 3.48032 10.1522 3.14961 10.0945 2.8189C10.0367 2.48819 9.92126 2.18504 9.71916 1.93701C9.48819 1.63386 9.19948 1.41339 8.88189 1.24803C8.5643 1.08268 8.18898 1 7.81365 1C7.09186 1.02756 6.42782 1.22047 5.82152 1.6063C3.36745 1.6063 2.99213 2.62598 2.99213 3.70079C2.53018 4.9685 2.55906 6.37402 3.10761 7.61417C3.13648 8.30315 3.33858 8.99213 3.68504 9.59843C4.0315 10.2047 4.49344 10.7559 5.07087 11.1693C5.01312 11.1969 4.95538 11.2244 4.92651 11.252L4.00262 12.5472H3.28084C2.53018 12.5472 1.92388 12.5472 1.37533 12.878C1.4042 12.878 1.17323 12.9882 1 13.2913ZM3.68504 7.55906C3.68504 7.5315 3.68504 7.47638 3.65617 7.44882C3.16535 6.3189 3.10761 5.05118 3.54068 3.8937C3.56955 3.86614 3.56955 3.83858 3.56955 3.78346C3.56955 2.87402 3.74278 2.15748 5.90814 2.15748C5.96588 2.15748 6.02362 2.12992 6.05249 2.12992C6.57218 1.79921 7.17848 1.6063 7.81365 1.57874C8.10236 1.57874 8.36221 1.63386 8.62205 1.74409C8.88189 1.85433 9.08399 2.04724 9.25722 2.26772C9.40158 2.48819 9.48819 2.70866 9.54593 2.95669C9.5748 3.20472 9.54593 3.45276 9.45932 3.70079C9.43045 3.75591 9.43045 3.81102 9.45932 3.86614C9.7769 4.94095 10.0656 6.84252 9.43045 7.36614C9.40158 7.3937 9.3727 7.42126 9.34383 7.44882C9.31496 7.47638 9.31496 7.5315 9.31496 7.55906C9.31496 9.10236 7.98688 11.0591 6.51444 11.0591C5.042 11.0591 3.68504 9.10236 3.68504 7.55906ZM3.28084 13.0709H4.14698C4.20472 13.0709 4.2336 13.0709 4.29134 13.0433C4.32021 13.0157 4.37795 12.9882 4.40682 12.9606L5.41732 11.5551C5.44619 11.5 5.47507 11.4449 5.47507 11.3622C5.79265 11.5276 6.16798 11.6102 6.51444 11.6102C6.88976 11.6102 7.26509 11.5 7.58268 11.3346C7.58268 11.4173 7.58268 11.4724 7.64042 11.5276L8.67979 12.9331C8.70866 12.9606 8.73753 12.9882 8.79528 13.0157C8.82415 13.0433 8.88189 13.0433 8.93963 13.0433H9.979C10.5564 13.0433 10.874 13.0433 11.1339 13.1811C9.74803 14.0079 8.16011 14.4213 6.54331 14.4213C4.92651 14.4213 3.36745 14.0079 1.98163 13.2087C2.38583 13.0709 2.84777 13.0433 3.28084 13.0709Z" fill="url(#paint0_linear)" stroke="url(#paint1_linear)" stroke-width="0.3"/>
                    <defs>
                    <linearGradient id="paint0_linear" x1="12" y1="0.999992" x2="0.571288" y2="1.35918" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FAA6A6"/>
                    <stop offset="1" stop-color="#F8CEBC"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear" x1="12" y1="0.999992" x2="0.571288" y2="1.35918" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FAA6A6"/>
                    <stop offset="1" stop-color="#F8CEBC"/>
                    </linearGradient>
                    </defs>
                    </svg>
                //- +svg('header-woman')
                span Для мужчин
        .header-bottom__right-group
            .sign-with-icon.sign-up
                +svg('key')
                a(href="#" data-hover="Регистрация").sign-with-icon__text 
                    span Регистрация
            .sign-with-icon.sign-in
                +svg('entry')
                a(href="sign-in.html" data-hover="Вход").sign-with-icon__text 
                    span Вход
            .sign-with-icon.small.prefered-goods-counter
                +svg('heart')
                a(href="#" data-hover="0").sign-with-icon__text 
                    span 0
            .sign-with-icon.bucket
                +svg('bucket')
                a(href="#" data-hover="Корзина").sign-with-icon__text 
                    span Корзина
                .sign-with-icon__short-text 0
    .mobile-header-top
        .mobile-tablet-menu-button.mobile-tablet-menu-button-js(data-state-open="Меню" data-state-close="Закрити")
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g class="open-show">
                    <line x1="30" y1="10.5" x2="4.37114e-08" y2="10.5" stroke="#222222"/>
                    <line x1="30" y1="20.5" x2="4.37114e-08" y2="20.5" stroke="#222222"/>
                </g>
                <g class="close-show" style="opacity:0">
                    <line style="transform-origin:center" x1="29.6491" y1="29.3562" x2="0.435722" y2="0.572686" stroke="#222222"/>
                    <line style="transform-origin:center" x1="0.422679" y1="29.4136" x2="29.6492" y2="0.643613" stroke="#222222"/>
                </g>
                </svg>
            span Меню
        <img class="main-logo" src="./assets/images/logo.svg" alt="foto">
        .mobile-header-top__right
            .sign-with-icon.small.prefered-goods-counter
                +svg('heart')
                .sign-with-icon__text 0
            .sign-with-icon.bucket
                +svg('bucket')
                .sign-with-icon__text Корзина (0)
                .sign-with-icon__short-text 0
    .mobile-menu.mobile-menu-js
        .mobile-menu-top
            <a class="mobile-menu-top__telephone header-top__telephone" href="tel:(068) 297 70 77 ">
                +svg('tel-tube')
                span (068) 297 70 77</a>
            a(target='_blank' href="https://instagram.com").social-link
                +svg('instagram')
            a(target='_blank' href="https://facebook.com").social-link
                +svg('facebook')
            .sign-with-icon.sign-in
                +svg('entry')
                .sign-with-icon__text Вход
        .mobile-menu__tab.active Для мужчин
        .mobile-menu__tab Для женщин
        .search-input
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.48839 11.9449C7.858 11.95 9.17906 11.4388 10.1874 10.5135L14.6136 14.9344C14.6558 14.9762 14.7127 14.9997 14.7722 15C14.802 15.0002 14.8315 14.9945 14.8591 14.9832C14.8867 14.972 14.9118 14.9554 14.933 14.9344C14.9542 14.9134 14.9711 14.8884 14.9826 14.8608C14.9941 14.8333 15 14.8037 15 14.7739C15 14.744 14.9941 14.7145 14.9826 14.6869C14.9711 14.6593 14.9542 14.6343 14.933 14.6133L10.5023 10.1924C11.3584 9.27018 11.8704 8.0818 11.952 6.82709C12.0336 5.57238 11.6799 4.32789 10.9504 3.3029C10.221 2.27791 9.16019 1.53495 7.9465 1.19898C6.73281 0.863011 5.44025 0.954522 4.2862 1.45812C3.13215 1.96171 2.187 2.84668 1.60972 3.96418C1.03244 5.08168 0.858238 6.36354 1.1164 7.5942C1.37457 8.82485 2.04936 9.92921 3.02729 10.7216C4.00523 11.5139 5.22664 11.9459 6.48612 11.9449H6.48839ZM2.92752 2.89953C3.63204 2.19611 4.52968 1.71705 5.50693 1.52295C6.48418 1.32884 7.49714 1.42839 8.41772 1.80902C9.33829 2.18965 10.1251 2.83427 10.6787 3.66134C11.2323 4.48841 11.5278 5.46078 11.5278 6.45549C11.5278 7.45021 11.2323 8.42259 10.6787 9.24966C10.1251 10.0767 9.33829 10.7213 8.41772 11.102C7.49714 11.4826 6.48418 11.5821 5.50693 11.388C4.52968 11.1939 3.63204 10.7149 2.92752 10.0115C2.45777 9.547 2.08487 8.9942 1.83039 8.38501C1.5759 7.77582 1.44487 7.12232 1.44487 6.46228C1.44487 5.80224 1.5759 5.14875 1.83039 4.53956C2.08487 3.93037 2.45777 3.37757 2.92752 2.9131V2.89953Z" fill="#222222" stroke="#222222" stroke-width="0.3"/>
            </svg>
            input(type="text", placeholder="Поиск" name="")
            button.search-input__button
                +svg('arrow')
        .button-std.medium.common-form-call-js
            +svg('tel-tube')
            span Обратный звонок