extends ../layout/main
block variable
	- var version = "ua";
	- var pageName = "catalogue";
block meta
	title= ' '
	meta(name='description', content='')
block scripts
	script(defer src='./assets/scripts/libs.js')
	script(defer src='./assets/scripts/index.js')
	script(defer src='./assets/scripts/forms-handler.js')
	script(defer src='./assets/scripts/menu.js')
	script(defer src="./assets/scripts/catalogue.js")
block head
	link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
	+breadcrumbs(['index.html','#'],['Главная','Для женщин'])
	.content-block.catalogue
		.catalogue__left
			.goods-dropdown
				.goods-dropdown__article
					.goods-dropdown__article-title 
						+svg('coat').goods-dropdown__article-icon
						span Одежда
						+svg('birdy')
					.goods-dropdown__article-content
						a(href="catalogue-inner.html") Платья
						a(href="catalogue-inner.html") Блузы и топы
						a(href="catalogue-inner.html") Брюки
						a(href="catalogue-inner.html") Юбки
						a(href="catalogue-inner.html") Костюмы
						a(href="catalogue-inner.html") Пиджаки
						a(href="catalogue-inner.html") Комбинезоны
						a(href="catalogue-inner.html") Футболки
						a(href="catalogue-inner.html") Шорты
						a(href="catalogue-inner.html") Джинсовая одежда
						a(href="catalogue-inner.html") Рубашки
						a(href="catalogue-inner.html") Трикотажная одежда
						a(href="catalogue-inner.html") Верхняя одежда
						a(href="catalogue-inner.html") Пляжная одежда
				.goods-dropdown__article
					.goods-dropdown__article-title 
						+svg('shoe').goods-dropdown__article-icon
						span Обувь
						+svg('birdy')
					.goods-dropdown__article-content
						a(href="catalogue-inner.html") Платья
						a(href="catalogue-inner.html") Блузы и топы
						a(href="catalogue-inner.html") Брюки
						a(href="catalogue-inner.html") Юбки
						a(href="catalogue-inner.html") Костюмы
						a(href="catalogue-inner.html") Пиджаки
					
				.goods-dropdown__article
					.goods-dropdown__article-title 
						+svg('bag').goods-dropdown__article-icon
						span Акксесуары
						+svg('birdy')
					.goods-dropdown__article-content
						a(href="catalogue-inner.html") Платья
						a(href="catalogue-inner.html") Блузы и топы
				.goods-dropdown__article
					.goods-dropdown__article-title 
						+svg('maneken-stand').goods-dropdown__article-icon
						span Бренды
						+svg('birdy')
					.goods-dropdown__article-content
						a(href="catalogue-inner.html") Платья
						a(href="catalogue-inner.html") Блузы и топы
						a(href="catalogue-inner.html") Брюки
						a(href="catalogue-inner.html") Юбки
		.catalogue__right
			.catalogue-slider.main-screen-slider.catalogue-slider-js
				.slide-text
					.subtitle.black BNW collection
					.text.pink-gray Коллекция женской одежды от производителя Envy  весна-осень 2020
					+button-std('Смотреть коллекцию','medium ')
					.counter 
						span.current.text.pink-gray  1
						span.all  4
				.slide(data-subtitle="BNB Collection" data-text="Коллекция женской одежды от производителя Envy  весна-осень 2020")
					.slide-title Action/ акционные предложения
					+img("catalogue/promotion-slide1.jpg")
				.slide(data-subtitle="BNB Collection1" data-text="Коллекция женской одежды от производителя Envy  весна-осень 2020")
					.slide-title Action/ акционные предложения
					+img("catalogue/promotion-slide1.jpg")
				.slide(data-subtitle="BNB Collection2" data-text="Коллекция женской одежды от производителя Envy  весна-осень 2020 Коллекция женской одежды от производителя Envy  весна-осень 2020 Коллекция женской одежды от производителя Envy  весна-осень 2020")
					.slide-title Action/ акционные предложения
					+img("catalogue/promotion-slide1.jpg")
				.slide(data-subtitle="BNB Collection3" data-text="Коллекция женской одежды от производителя Envy  весна-осень 2020")
					.slide-title Action/ акционные предложения
					+img("catalogue/promotion-slide1.jpg")
				.slide(data-subtitle="BNB Collection4" data-text="Коллекция женской одежды от производителя Envy  весна-осень 2020")
					.slide-title Action/ акционные предложения
					+img("catalogue/promotion-slide1.jpg")
				.slide-custom-dots.slide-custom-dots-js
			.special-offer
				.special-offer-title.dark Sale/ специальные предложения
				+img('catalogue/special1.jpg').special-offer-img 
			.special-offer
				.special-offer-title.white New/ новые поступления
				+img('catalogue/special2.jpg').special-offer-img 
			.catalogue-brands
				- var brandsTop = ['Frame 10_brand.png','Frame 11_brand.png','Frame 12_brand.png','Frame 13_brand.png','Frame 4_brand.png','Frame 5_brand.png','Frame 6_brand.png','Frame 7_brand.png','Frame 8_brand.png','Frame 9_brand.png',];
				each val in brandsTop
					img(src="assets/images/brands/"+val)
block footer
block header