extends ../layout/main
block variable
    - var version = "ua";
    - var pageName = "home";
block meta
    title= ' '
    meta(name='description', content='')
block scripts
    script(defer src="./assets/scripts/home.js")
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
    h1 home
block footer
block header