extends ../layout/main
block variable
	- var version = "ua";
	
block meta
	title= 'ЖК Nordica Residence'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(defer src='./assets/scripts/libs.js')
	script(defer src='./assets/scripts/index.js')
block content
block footer
block header



