extends ../layout/main
block variable
    - var version = "ua";
    - var pageName = "tailor-services";
block meta
    title= 'Персональный профессиональный стилист'
    meta(name='description', content='')
block scripts
    script(defer src='./assets/scripts/libs.js')
    script(defer src='./assets/scripts/index.js')
    script(defer src='./assets/scripts/forms-handler.js')
    script(defer src='./assets/scripts/menu.js')
    script(defer src='./assets/scripts/service-menu-handler.js')
    script(defer src="./assets/scripts/tailor-services.js")
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
    +breadcrumbs(['index.html','#'],['Главная','Личный профессиональный стилист'])
    .content-block.light-gray.color-bg.personal-professional-stylist
        .content-block__left
            include ../includes/faq-menu.pug
        .content-block__right
            .title Личный профессиональный стилист
            .text-block.brown.text
                p Услуга «Личный стилист» сделает Ваш виртуальный шопинг максимально реальным.
                p Профессиональные стилисты Envy group сформируют для Вас идеальные образы для важных мероприятий с учетом Вашего цветотипа и пожеланий к дресс-коду. Исходя из Ваших предпочтений, личный стилист будет информировать Вас о новых коллекциях, пополнениях ассортимента и модных тенденциях сезона.
                p В пределах Киева и пригородной зоны персональный стилист может приехать к Вам по указанному адресу.
            .text-block.white.tailor-contacts-block
                .text.bold.tailor-contacts-block__title Для заказа услуг
                .text.pink.tailor-contacts-block__subtitle Оставьте комментарий к заказу при покупке товара в Интернет-магазине или позвоните в контакт-центр Envy group
                a(href="tel:0682977077") 
                    +svg('tel-tube-rose')
                    span.text.pink 068 297 70 77 
                a(href="tel:0682977077") 
                    +svg('marker')
                    span.text.pink Пн.-Пт.: 10: 00-19: 00
        .invisible-block-js.invisible-block.mobile-popup-menu-js
            .subtitle Сервис
            <svg class="close" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g class="close-show">
                    <line style="transform-origin:center" x1="29.6491" y1="29.3562" x2="0.435722" y2="0.572686" stroke="#222222"/>
                    <line style="transform-origin:center" x1="0.422679" y1="29.4136" x2="29.6492" y2="0.643613" stroke="#222222"/>
                </g>
                </svg>
block footer
block header