extends ../layout/main
block variable
    - var version = "ua";
    - var pageName = "tailor-services";
block meta
    title= ' '
    meta(name='description', content='')
block scripts
    script(defer src='./assets/scripts/libs.js')
    script(defer src='./assets/scripts/index.js')
    script(defer src='./assets/scripts/forms-handler.js')
    script(defer src='./assets/scripts/menu.js')
    script(defer src="./assets/scripts/tailor-services.js")
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
    +breadcrumbs(['index.html','#'],['Главная','Услуги портного в магазинах'])
    .content-block.light-gray.color-bg.tailor-services
        .content-block__left
            .faq-menu
                .mobile-open-button.mobile-open-button-js.text.pink(data-content=".faq-menu a") Меню сервис
                .text.text-smaller.bold Сервис
                a(href="").text.pink.text-smaller Обмен и возврат 
                a(href="").text.pink.text-smaller Оплата и доставка
                a(href="").text.pink.text-smaller.current-page Вопрос и ответ
                a(href="").text.pink.text-smaller Услуги портного в магазинах
                a(href="").text.pink.text-smaller Личный проффесиональный стилист
        .content-block__right
            .title Услуги портного в магазинах
            .text-block.brown.text
                p Компания Envy group предоставляет своим клиентам возможность воспользоваться услугами высококвалифицированных мастеров ателье, способных выполнить на самом высоком уровне сложные портновские операции:
                ul.list-std
                    li  Подгонка изделий по фигуре;
                    li  Ремонт изделий, приобретенных в магазинах сети Envy  group;
                    li  Ремонт личных вещей клиентов.
                p При покупке изделий из новой коллекции все услуги ателье по данным изделиях предоставляются бесплатно.
            .text-block.tailor-contacts-block
                .text.bold.tailor-contacts-block__title Для заказа услуг
                .text.pink.tailor-contacts-block__subtitle Позвоните в контакт-центр Envy group:
                a(href="tel:0682977077") 
                    +svg('tel-tube-rose')
                    span.text.pink 068 297 70 77 
                a(href="tel:0682977077") 
                    +svg('marker')
                    span.text.pink Пн.-Пт.: 10: 00-19: 00
                a(href="tel:0682977077") 
                    +svg('clock')
                    span.text.pink или посетите магазин Envy г.. Киев, ул.  Владимирская, 37.
        .invisible-block-js.invisible-block.mobile-popup-menu-js
            .subtitle Сервис
            <svg class="close" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g class="close-show">
                    <line style="transform-origin:center" x1="29.6491" y1="29.3562" x2="0.435722" y2="0.572686" stroke="#222222"/>
                    <line style="transform-origin:center" x1="0.422679" y1="29.4136" x2="29.6492" y2="0.643613" stroke="#222222"/>
                </g>
                </svg>
block footer
block header