.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .title {
        width: 100%;
        margin-bottom: 20px;
    }
    &.content-block {
        padding-bottom: 0;
    }
    .text-block {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        @include size(5);
        @include size-md(6);
    }
    .brands {
        margin-top: 40px;
        width: calc(100% + var(--side-fields) * 2);
        margin-left: calc(var(--side-fields) - (var(--side-fields) * 2));
        margin-right: calc(var(--side-fields) - (var(--side-fields) * 2));
        background-color: var(--white);
        padding-left: var(--side-fields);
        padding-right: var(--side-fields);
        .double-slider-wrapper {
            @include size(10);
            margin-left: auto;
            margin-right: auto;
        }
        img {
            height: auto;
        }
    }
    @include from(1680px) {
        .text-block {
            height: 50vh;
            @include shift-left(1);
            @include size(4)
        }
    }
    @include to(768px) {
        .text-block {
            width: 100%;
        }
        .brands {
            .double-slider-wrapper {
                width: 100%;
            }
        }
    }
    @include to(575px) {
        .brands {
            .double-slider-wrapper {
                width: 100%;
            }
            .arrows .arrow-prev,
            .arrows .arrow-next {
                background: transparent;
            }
        }
        .brands {
            margin-top: 20px;
        }
        margin-bottom: 10px;
        .brands {
            padding-bottom: 0;
            padding-top: 20px;
        }
    }
}

.about-slider {
    position: relative;
    background-color: white;
    img {
        object-fit: contain;
        height: 50vh;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .arrows {
        position: absolute;
        left: 50%;
        width: calc(100% - 60px);
        top: 50%;
        transform: translate(-50%, -50%);
    }
    @include shift-padding(1);
    @include size(7);
    @include from(1680px) {
        @include shift-right(1);
        @include size(6);
    }
    @include to(1100px) {
        .arrows {
            width: 100%;
        }
        padding: 0 50px;
    }
    @include to(768px) {
        width: 100%;
    }
    @include from-to(576px, 768px) {
        img {
            height: 70vh;
            padding-left: 70px;
            padding-right: 70px;
        }
    }
    @include to(575px) {
        padding: 0;
        img {
            object-fit: cover;
        }
        .slick-list {
            overflow: visible;
        }
        .arrows {
            display: none;
        }
        img {
            padding-right: 20px;
            height: 50vh;
        }
    }
}