.empty-bucket-block {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    .icon--bucket {
        width: 70px;
        height: 78px;
        padding-left: 20px;
        float: left;
        position: relative;
        left: 20px;
    }
    .button-std {
        // clear: both;
        width: 190px;
        text-decoration: none;
        margin-top: 35px;
        margin-left: -70px;
        span {
            color: var(--black);
        }
    }
    .subtitle {
        margin-top: 0.7em;
        padding-left: 110px;
    }
    .text {
        margin-top: 0.5em;
        padding-left: 110px;
    }
    .button-std:nth-last-child(2) {
        float: left;
    }
    .button-std:last-child {
        float: right;
    }
    @include to(575px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        .icon--bucket {
            float: none;
            padding-left: 0;
            width: 50px;
            position: static;
        }
        .button-std {
            float: none !important;
            width: 100%;
            margin: 0;
            max-width: none;
            margin-top: 10px;
        }
        .button-std:nth-last-child(2) {
            margin-top: 30px;
        }
        .subtitle {
            padding-left: 0;
        }
        .text {
            padding-left: 0;
        }
    }
}

.succes-order-block {
    --self-width: 80px;
    @include size(4.5);
    text-align: center;
    position: relative;
    padding: 40px 40px 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--white);
    margin-top: calc(var(--self-width) / 2);
    .subtitle {
        margin-bottom: 20px;
    }
    .text.bold {
        margin-bottom: 10px;
    }
    .text {
        margin-bottom: 40px;
    }
    .button-std {
        width: 190px;
    }
    &__icon {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        padding: 20px;
        width: var(--self-width);
        height: var(--self-width);
        background-color: var(--white);
        border-radius: 50%;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    @include to(768px) {
        @include size(8);
    }
    @include to(575px) {
        padding: 40px 17px 30px 17px;
        width: 100%;
    }
}

.liked-products-container {
    @include row-flex();
    &>* {
        @include size(4);
        @include size-md(4);
        @include size-sm(6);
        @include shift(0);
    }
    @include from(1680px) {
        &>* {
            @include size(2.4);
        }
    }
}

.product-card-in-bucket {
    @include size(4.5);
    display: flex;
    background-color: var(--white);
    padding-bottom: 20px;
    &__text {
        padding-top: 20px;
        width: 73%;
        padding-left: 40px;
        align-self: center;
    }
    &__name {
        font-weight: bold;
        @include fontSizeLhToEm(14, 20);
        margin-bottom: 1em;
    }
    &__img {
        position: relative;
        width: 130px;
        padding-top: calc(130px * 0.95);
        height: 0;
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__price-wrap {
        display: flex;
        align-items: flex-end;
        margin-bottom: 1em;
    }
    &__price {
        line-height: 1em;
    }
    &__spec-price {
        color: #EB5757;
        @include fontSizeLhToEm(10, 10);
        &:after {
            content: '\a';
            display: inline-block;
        }
        .striked {
            text-decoration-line: line-through;
        }
        .striked:after {
            content: '\a';
            display: inline-block;
        }
    }
    &__characteristic {
        @include fontSizeLhToEm(14, 22);
    }
    &__characteristic-name {
        color: var(--pink);
    }
    @include to(768px) {
        width: 100%;
    }
}

.total-price {
    @include fontSizeLhToEm(22, 22);
    color: var(--black);
    font-weight: bold;
}

.make-order-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .tab {
        cursor: pointer;
        padding: 15px;
        text-align: center;
        transition: .5s;
        font-weight: bold;
        width: 50%;
    }
    &>*:last-child {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .active {
        background: #E3D4CF;
    }
    @include from(950px) {
        @include size(7);
    }
}

.bucket-card {
    width: 100%;
    background-color: var(--white);
    position: relative;
    margin-top: 20px;
    padding-bottom: 40px;
    @include row-flex();
    .mfp-close {
        right: 30px;
        top: 30px;
    }
    &__img {
        @include size(3);
        @include shift(0);
        max-width: 230px;
        max-height: 210px;
        width: calc(37.5% - 20px);
        margin-left: -10px;
    }
    &__text-wrapper {
        @include shift(0);
        @include size(9);
    }
    &__name {
        margin: 30px 0;
        width: 100%;
    }
    &__main-inform-block {
        @include row-flex();
    }
    &__main-inform-block>* {
        @include size(3);
        @include size-md(12);
        @include shift(0);
    }
    &__price {
        position: absolute;
        left: 10px;
        top: 10px;
    }
    @include from(1680px) {
        &__img {
            max-width: 367px;
            max-height: 350px;
        }
    }
    @include to(995px) {
        &__img {
            max-height: 210px;
            object-fit: cover;
            @include size(4.5);
        }
        &__text-wrapper {
            @include size(7.5);
        }
        &__main-inform-block>*:not(:last-child) {
            margin-bottom: 1.6em;
        }
    }
    @include to(575px) {
        padding: 10px 10px 25px 10px;
        margin: 10px 0 20px 0;
        &__img {
            max-width: none;
            max-height: none;
            width: calc(100vw - var(--side-fields) * 2 - 20px);
            height: calc((100vw - var(--side-fields) * 2 - 20px) * 0.95);
            object-fit: cover;
            @include size(12);
            margin-left: auto;
            margin-right: auto;
        }
        &__text-wrapper {
            @include size(12);
        }
        &__main-inform-block>*:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.pass-recovery-form {
    @include to(575px) {
        .sign-with-icon {
            display: none;
        }
    }
}

.order-no-sign-up {
    @include row-flex();
    @include size(6);
    max-width: none;
    &.common-form>* {
        @include size(6);
        margin-bottom: 20px;
        @include shift(0);
    }
    &.common-form>.text {
        width: 100%;
    }
    .checkbox-group {
        flex-direction: column;
    }
    .checkbox-group>* {
        width: 100%;
    }
    .select-std {
        // width: 100%;
        display: flex;
        &.wide {
            width: 100%;
        }
        select {
            padding-right: 25px;
            width: 100%;
            max-width: none;
        }
    }
    // select::blank {
    //     opacity: 0;
    // }
    .input-group label:not(.toggle) {
        position: absolute;
        width: 100%;
        transition: .3s ease-out;
        background-color: transparent;
        cursor: pointer;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input[type=radio] {
        display: none;
    }
    input[type=radio]:checked~label {
        background-color: #E3D4CF;
    }
    .label-radio-group {
        width: calc(50% - 10px);
        padding-bottom: 32px;
        padding-top: 18px;
        position: relative;
    }
    .label-radio-group:last-child {
        margin-left: auto;
    }
    .for-labels.unfilled {
        border-bottom: 2px solid red;
    }
    .for-labels:after {
        display: none;
    }
    .checkbox-group label {
        margin-bottom: 20px;
    }
    .textarea svg {
        align-self: flex-start;
    }
    .nova-city-search-results {
        position: absolute;
        top: 100%;
        padding: 5px 10px;
        background-color: #fff;
        left: 0;
        width: 100%;
        z-index: 10;
    }
    .input-group.overflowed {
        overflow: visible;
    }
    .input-group.wide {
        width: 100%;
    }
    .nova-city-search-results {
        max-height: calc(1.6em * 10);
        overflow-y: scroll;
        visibility: hidden;
        overflow-x: hidden;
    }
    .nova-city-search-results>div {
        cursor: pointer;
        padding: 0.3em 0;
        line-height: 1em;
    }
    @include from(769px) {
        .nova-city-search-results>div:hover {
            color: var(--pink);
        }
    }
    @include to(950px) {
        @include size(12);
    }
    @include to(575px) {
        &.common-form>* {
            @include size(12);
        }
    }
}