.select-filter-item {
    display: flex;
    align-items: center;
    .select-std {
        // margin-left: 20px;
    }
}

.catalogue-inner {
    .goods-dropdown {
        --left-padding: 0px;
    }
    .goods-dropdown__article-content {
        column-count: 1;
    }
    .content-block__left .subtitle {
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .content-block__left {
        padding-top: 10px;
    }
    .content-block__right {
        padding-bottom: 40px;
        .pagination {
            margin-top: 30px;
        }
    }
    .button-std {
        transition: none;
    }
    @include to(1160px) {
        .select-filter-item>.text {
            display: none;
        }
        .select-filter-item {
            margin-left: 20px;
            width: 190px;
        }
    }
    @include to(950px) {
        .content-block__right {
            padding-bottom: 60px;
            .pagination {
                margin-top: 20px;
            }
        }
    }
    @include to(575px) {
        &>.goods-dropdown,
        &>.top-filter-wrap {
            display: none;
        }
        .content-block__left {
            display: none;
        }
        .goods-dropdown-filter {
            width: 100%;
        }
        .content-block__right .top-filter-wrap {
            display: none;
        }
        .invisible-block {
            // display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: var(--side-padding);
            .button-std {
                width: 100%;
            }
        }
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    --offset: 20px;
    --cards-per-row: 3;
    // &>.product-card:nth-last-child(-n+2) {
    //     margin-left: var(--offset);
    //     margin-right: auto;
    // }
    &>.product-card {
        width: calc((100% / var(--cards-per-row)) - (var(--offset) / var(--cards-per-row) * (var(--cards-per-row) - 1)));
        margin-bottom: var(--offset);
    }
    @include from(1680px) {
        --cards-per-row: 4;
    }
    @include to(950px) {
        --cards-per-row: 2;
    }
    @include to(575px) {
        width: 100%;
        --offset: 8px;
    }
}

.top-filter-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    .subtitle {
        width: 100%;
    }
    .goods-result-block {
        margin-right: auto;
    }
    .select-filter-item {
        margin-left: 30px;
    }
    @include from(769px) {
        .select-filter-item>.text {
            margin-right: 20px;
        }
    }
    @include to(1160px) {
        .select-filter-item {
            margin-left: 20px;
        }
    }
    @include to(768px) {
        .select-std,
        .select-filter-item {
            margin-left: 0px;
        }
        .select-filter-item {
            margin-left: 5px;
        }
    }
}

.product-filter-dropdown {}

.catalogue-inner-navigation-mobile {
    display: flex;
    width: calc(100% + 4px);
    &>* {
        border: 1px solid #F9F3F0;
        width: 33%;
        text-align: center;
        padding: 10px 26px;
        font-weight: 500;
    }
    .select-std {
        padding: 0;
        select {
            position: relative;
            bottom: 1px;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            width: 100%;
            height: 100%;
            padding: 10px 20px;
        }
        width: 33%;
        font-weight: 500;
    }
    .select-std:before {
        display: none;
    }
    @include from(769px) {
        display: none;
    }
    @include to(375px) {
        &>* {
            padding: 10px 5px;
        }
    }
}

.invisible-block {
    display: none;
    &>.subtitle,
    &>svg {
        margin-bottom: 20px;
    }
    &>.button-std,
    &>.button-std.medium {
        width: 100%;
        max-width: none;
    }
    & select,
    & .select-filter-item,
    & .select-std,
    .goods-dropdown-products {
        width: 100%;
    }
    .goods-result-block {
        display: none;
    }
    .top-filter-wrap {
        margin-top: 0;
        margin-bottom: 0;
    }
    .top-filter-wrap .select-filter-item {
        margin-bottom: 20px;
        margin-left: 0;
    }
    .top-filter-wrap .subtitle {
        display: none;
    }
}

.mobile-pagination {
    text-align: center;
    &__text {
        color: #A0A0A0;
        @include fontSizeLhToEm(10, 10);
    }
    .button-std.medium {
        max-width: none;
        width: 100%;
        margin-top: 10px;
    }
    @include from(575px) {
        display: none;
    }
}