.confidentional-politic {
    .title {
        margin-bottom: 20px;
    }
}

.text-container {
    padding-top: 40px;
    padding-bottom: 56px;
    margin-left: auto;
    margin-right: auto;
    &.white {
        background-color: var(--white);
    }
    @include size(8);
    @include size-md(10);
    @include shift-padding(1);
    @include to(575px) {
        width: 100%;
        padding-left: var(--side-fields);
        padding-right: var(--side-fields);
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.article {
    &__title {
        margin: 20px 0;
    }
    .delimiter {
        margin: 20px 0;
    }
    .list-std {
        margin-left: 15px;
    }
}