.page__inner {
    padding-left: 50px;
    padding-right: 50px;
    z-index: 5;
    @include from-to(769px, 1100px) {
        --side-fields: 25px;
        padding-left: var(--side-fields);
        padding-right: var(--side-fields);
    }
    @include to(768px) {
        padding-left: var(--side-fields);
        padding-right: var(--side-fields);
    }
}

.main-screen-slider {
    .slide {
        position: relative;
    }
    .slide img {
        height: 65vh;
        width: 100%;
        object-fit: cover;
        object-position: left top;
    }
    .slide-text {
        @include size(4);
        padding: 30px 50px;
        background: #FDF7F5;
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        z-index: 5;
        .subtitle {
            margin-bottom: 10px;
        }
        &>.text {
            margin-bottom: 20px;
        }
        .counter,
        .button-std {
            display: inline-flex;
        }
        .button-std {
            width: 190px;
        }
        .counter {
            margin-left: auto;
        }
    }
    .slide-text>.text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        box-orient: vertical;
    }
    @include from(1680px) {
        .slide-text {
            @include size(3);
        }
    }
    @include to(1200px) {
        .slide-text {
            @include size(5);
        }
    }
    @include to(950px) {
        .slide-text {
            @include size(6);
        }
    }
    @include to(768px) {
        .slide img {
            height: 45vh;
            width: 100%;
            object-fit: cover;
            object-position: right top;
        }
        .slide-text {
            @include size(7);
        }
    }
    @include to(575px) {
        padding-bottom: 50%;
        .slide-text {
            width: 100%;
            padding: 20px 10px;
        }
        .slide img {
            height: 35vh;
            width: 100%;
            object-fit: cover;
            object-position: right top;
        }
    }
}

.home-block2 {
    display: flex;
    --part-block-start-padding: 82px;
    margin-top: 20px;
    &__part {
        text-decoration: none;
        color: var(--black);
        font-weight: normal;
        position: relative;
        height: 50vh;
        width: 50%;
    }
    &__part-people-photo {
        position: absolute;
        height: 100%;
        width: auto;
        max-width: 60%;
        object-fit: contain;
        object-position: bottom;
        bottom: 0;
        z-index: 1;
    }
    &__part .title-large {
        position: relative;
        z-index: 2;
        transition: .7s;
        padding-top: 2em;
    }
    &__part:first-child &__part-people-photo {
        right: var(--part-block-start-padding);
    }
    &__part:last-child &__part-people-photo {
        left: var(--part-block-start-padding);
    }
    &__part:first-child>svg {
        right: var(--part-block-start-padding);
        top: var(--part-block-start-padding);
    }
    &__part:last-child>svg {
        left: var(--part-block-start-padding);
        top: var(--part-block-start-padding);
    }
    &__part:first-child .title-large {
        padding-left: 0;
    }
    &__part:last-child .title-large {
        text-align: right;
        padding-right: var(--part-block-start-padding);
    }
    &__part>svg {
        position: absolute;
        z-index: 0;
        width: 85%;
        height: calc(100% - var(--part-block-start-padding) * 2);
    }
    &__part>svg rect {
        transition: .7s ease-out;
    }
    @include from(1680px) {
        &__part>svg {
            stroke-width: 20;
        }
    }
    @include from(769px) {
        &__part:hover rect {
            stroke-width: 30;
        }
        // &__part:first-child:hover .title-large {
        //     transition-timing-function: ease-out;
        //     transform: translateX(3%);
        // }
        // &__part:last-child:hover .title-large {
        //     transition-timing-function: ease-out;
        //     transform: translateX(-3%);
        // }
    }
    @include to(1150px) {
        --part-block-start-padding: 40px;
        &__part {
            height: 40vh;
        }
        &__part .title-large {
            // padding-top: 3.2em;
        }
    }
    @include from-to(769px, 1024px) {
        --part-block-start-padding: 0px;
        justify-content: space-between;
        &__part {
            width: calc(50% - 12px);
        }
        &__part .title-large {
            font-size: 58px;
            padding-top: 3.2em;
        }
    }
    @include to(768px) {
        --part-block-start-padding: 40px;
        &__part {
            height: 35vh;
            width: 50%;
        }
        &__part-people-photo {
            max-width: none;
        }
        &__part:first-child &__part-people-photo {
            right: 10px;
        }
        &__part:last-child &__part-people-photo {
            left: 10px;
        }
        &__part:first-child .title-large {
            padding-top: 2.5em;
        }
        &__part:last-child .title-large {
            padding-top: 2.5em;
        }
    }
    @include to(575px) {
        --part-block-start-padding: 0px;
        justify-content: space-between;
        &__part {
            width: calc(50% - 6px);
        }
        &__part:first-child .title-large {
            padding-top: 0em;
            text-align: center;
        }
        &__part:last-child .title-large {
            padding-top: 0em;
            text-align: center;
        }
        &__part &__part-people-photo {
            height: calc(100% - 2em);
        }
        &__part>svg {
            width: 100%;
            height: 100%;
            stroke-width: 15;
        }
    }
}

.home-news {
    background: #F5F5F5;
    padding-left: 90px;
    padding-right: 50px;
    --vert-padding: 80px;
    padding-top: var(--vert-padding);
    padding-bottom: var(--vert-padding);
    /*Растяжение серого фона по всей ширине*/
    width: calc(100% + 90px + 50px);
    margin-left: -90px;
    margin-right: -50px;
    display: flex;
    flex-wrap: wrap;
    .news-card {
        padding-left: 11px;
        padding-right: 11px;
    }
    .home-news-slider {
        margin-top: 28px;
        width: 100%;
    }
    &>.button-std {
        margin-left: auto;
    }
    @include from(1680px) {
        padding-top: 60px;
        .home-news-slider {
            margin-top: 46px;
        }
    }
    @include to(575px) {
        --vert-padding: 40px;
        .news-card {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.home-news {
    // .news-card {
    //     margin-right: 22px;
    // }
}

.news-card {
    transition: transform .7s ease-out;
    &__text {
        padding: 32px 50px;
        background-color: #fff;
    }
    &__text-title {
        margin-bottom: 20px;
    }
    &__text-text {
        margin-bottom: 20px;
    }
    &__img {
        max-height: 230px;
        filter: grayscale(1);
        transition: var(--transition);
        object-fit: cover;
        object-position: left top;
    }
    @include from(769px) {
        &:hover &__img {
            filter: none;
        }
        &:hover {
            transform: scale(1.05);
        }
    }
    @include to(575px) {
        &__text-title {
            font-size: 18px;
            line-height: 1.33em;
        }
        &__text {
            padding: 25px 20px;
        }
        &__text-text {
            line-height: 1.6em;
        }
    }
}

.brands {
    padding: 60px 0;
    .title {
        margin-bottom: 50px;
    }
    &__slider {
        width: 100%;
    }
    &__slider img {
        height: 70px;
        // padding: 0 10px;
        padding: 0 0;
        height: auto;
    }
    &__slider:first-child {
        margin-bottom: 24px;
    }
    .double-slider-wrapper {
        padding: 0 100px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 58px;
    }
    .arrows {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
    .delimiter {
        margin-bottom: 60px;
    }
    @include to(950px) {
        .double-slider-wrapper {
            @include shift-padding-left(2);
            padding-right: 86px;
        }
        .title {
            margin-bottom: 50px;
        }
    }
    @include to(575px) {
        padding: 40px 0;
        .delimiter {
            display: none;
        }
        .title {
            margin-bottom: 24px;
        }
        .double-slider-wrapper {
            padding: 0 75px;
            margin-bottom: 40px;
        }
    }
}

.concept-block {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include size(5);
    .title {
        width: 100%;
    }
    .logo-with-slogan {
        @include size(2.4);
    }
    .text {
        @include size(9.6);
    }
    .text p:not(:last-child) {
        margin-bottom: 1.6em;
    }
    @include to(950px) {
        width: 100%;
    }
    @include to(768px) {
        .logo-with-slogan {
            @include size(1.9);
        }
        .text {
            @include size(10.1);
        }
    }
    @include to(575px) {
        .logo-with-slogan {
            width: var(--self-width);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }
        .text {
            width: 100%;
        }
    }
}

.mailing-block {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: auto;
    @include size(5);
    @include shift(1);
    @include to(1024px) {
        @include size(6);
        @include shift-left(1);
        @include shift-right(0);
    }
    @include from(1680px) {
        .title {
            padding-right: 10%;
        }
    }
    @include to(950px) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 60px;
        width: 100%;
        .mailing-form {
            @include shift-padding-left(2.3);
        }
    }
    .title {
        width: 100%;
    }
    @include to(575px) {
        margin-top: 40px;
        .mailing-form {
            padding-left: 0;
        }
    }
}

.mailing-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    legend {
        color: var(--yellow);
        margin-bottom: 10px;
        @include fontSizeLhToEm(24, 38);
    }
    button {
        border: none;
        font-family: $default-font;
        width: 190px;
    }
    input,
    textarea {
        background: transparent;
        border: none;
        font-size: 14px;
        line-height: 22px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
    }
    input::placeholder,
    textarea::placeholder {
        color: var(--white);
    }
    textarea {
        resize: none;
        height: calc(1.6em * 3);
    }
    .input-group {
        position: relative;
        display: flex;
        align-items: flex-start;
        padding-bottom: 25px;
        margin-right: auto;
    }
    .input-group:first-child {
        width: calc(100% - 190px - 18px);
    }
    .checkbox-group {
        margin-top: 42px;
    }
    .checkbox-group:after {
        display: none;
        // margin-top: 42px;
    }
    .checkbox-group.unfilled .toggle {
        --border-color: red;
    }
    .input-group svg {
        margin-right: 20px;
        align-self: center;
    }
    .input-group:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: rgba(227, 212, 207, 0.5);
        left: 0;
        bottom: 0;
        transition: .5s;
    }
    .input-group.unfilled:after {
        background-color: red;
    }
    .toggle__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
    }
    .toggle__label {
        padding-left: 35px;
    }
    [type=submit]:disabled,
    [type=submit]:disabled .button-std__icon {
        background-color: var(--gray);
        pointer-events: none;
    }
    .icon--letter {
        width: 17px;
        height: 10px;
    }
    @include from(1720px) {
        .input-group:first-child {
            padding-top: 10px;
        }
        legend {
            @include fontSizeLhToEm(36, 38);
            margin-bottom: 30px;
        }
        input,
        textarea {
            @include fontSizeLhToEm(18, 22);
        }
        .input-group {
            padding-bottom: 20px;
        }
        .input-group svg {
            width: 18px;
            height: 18px;
            margin-right: 20px;
            align-self: center;
        }
        textarea {
            resize: none;
            height: calc(1.6em * 2);
        }
        button {
            --icon-width: 40px;
            margin-left: auto;
            margin-right: auto;
            // margin-top: 30px;
            width: 210px;
            margin-bottom: auto;
        }
    }
    @include to(575px) {
        .input-group:first-child {
            width: 100%;
        }
        button {
            order: 2;
            margin-left: auto;
            margin-right: auto;
        }
    }
}