.return-conditions {
    .title {
        margin-bottom: 20px;
    }
    .content-block__right {
        font-size: 0;
    }
    .content-block__right .text-block {
        display: inline-block;
        width: calc(100% / 12 * 6 - (#{$offset} / 2));
        vertical-align: top;
    }
    .content-block__right .text-block:last-child {
        margin-left: #{$offset};
    }
    .invisible-block {
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: var(--side-fields);
        a {
            width: 100%;
        }
        a:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    @include from(1680px) {
        .content-block__right .text-block {
            display: inline-block;
            width: calc(100% / 12 * 4.8 - (#{$offset} / 2));
            vertical-align: top;
        }
        .content-block__right .text-block:last-child {
            margin-left: calc(100% / 12 + #{$offset});
        }
    }
    @include to(768px) {
        .content-block__right .text-block {
            width: 100%;
        }
        .content-block__right .text-block:last-child {
            margin-left: 0;
        }
    }
    @include to(575px) {
        .content-block__right .text-block:not(:first-child) {
            margin-top: 0;
        }
    }
}