* {
    --black: #222222;
    // --blue: #0085FF;
    // --pink: #F8D5D4;
    // --white: #ffffff;
    // --dark-gray: #6C7C84;
    // --gray: #AAC0C9;
    // --red: #B3717B;
    // --hz: #CFDDE4;
    --pink: #8F677F;
    --side-fields: 50px;
    --transition: .5s;
    --side-padding: 50px;
    @include to(768px) {
        --side-fields: 22px;
        --side-padding: 20px;
    }
    @include to(575px) {
        --side-fields: 14px;
        --side-padding: 14px;
    }
}